@font-face {
  font-family: 'Mona-Sans';
  src:
    url('/static/fonts/mona-sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/static/fonts/mona-sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

.font-body,
html,
body {
  font-family: Mona-Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.font-alt {
  font-family: Graphik, sans-serif !important;
}

/*
.sidebar {
    height: calc(100vh - 3.7rem);
    top: 3.7rem;
}

#docs-app header {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}*/

#docs-site-logo span {
  font-size: 14px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  margin: 0 !important;
}


#docs-site-logo img {
  max-height: 24px !important;
  width: auto;
  margin: 0 !important;
}

#docs-site-header input.w-full {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

#docs-app main {
  max-width: 600px !important;
  margin: auto;
 
}

#docs-app main,
#docs-app main p,
#docs-app main strong,
#docs-app main div,
#docs-app main li {
  font-size: 0.9rem;
}


#docs-content {
  padding-top: 32px;
}

#docs-content h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

#docs-content h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 3rem;

}

#docs-content h2 span {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 1rem;
  display: block;
}

.docs-markdown {
  font-size: 15px;
}

.docs-markdown h3 {
  font-size: 1.15rem;
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
}

.docs-markdown h4 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table-wrapper {
  margin-top: 2rem !important;
}

table td * {
  font-size: 0.9rem;
}

table th {
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 0.7rem !important;
  letter-spacing: 1px !important;
}


.browser {
  border: 3px solid #FFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


footer .docs-powered-by,
aside .docs-powered-by {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  offset: -1000px;
  position: absolute;
}

.card {
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 20px 12px;
  float: left;
  margin: 0 24px 24px 0;
  width: 230px;
  text-decoration: none !important;
}

.docs-markdown p:not(.hidden) {
  margin-bottom: 0.5rem !important;
}

.card p {
  font-size: 14px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.dek {
  font-weight: 400;
  margin: -10px 0 30px 0;
  font-size: 18px;
  line-height: 24px;
}

.docs-markdown table.comfortable tr td,
.docs-markdown table.comfortable tr th {
  padding: 0.5rem 1rem !important;
}


.simplebar-content .text-sm {
  font-size: 0.8rem !important;
}

.simplebar-content > ul > li > a {
  font-weight: 600 !important;
  font-size: 0.95em;
}

.simplebar-content > ul > li > a.pl-10 {
  padding-left: 30px;
  font-weight: 500 !important;
  font-size: 0.9em;
}


.docs-markdown>a.no-link {
  border: none !important;
  padding: 1rem 2rem !important;
  background: #F6F7F8;
  margin-bottom: 1rem !important;
}

.docs-markdown>a.no-link>div {
  padding: 0 !important;
}

.docs-markdown>a.no-link>div>.text-xs {
  font-size: 0.7rem !important;
}

.docs-markdown code[class*=language-],
.docs-markdown pre[class*=language-],
code[class*=language-],
pre[class*=language-] {
  font-size: 11px !important;
  line-height: 1.5;
}

.docs-copyright {
  font-size: 11px;
}

.docs-markdown ul.contains-task-list {
  padding-left: 35px;
}

.docs-markdown ul.contains-task-list input {
  margin-left: -35px;
  position: relative;
  margin-right: 18px;
}

/*
hack to hide the dark mod toggle
*/
#docs-site-header div.flex>button.flex.items-center.justify-center.shrink-0 {
  display: none;
}

#docs-site-header div.right-25 {
  right: 4rem;
}

.doc-alert,
.docs-markdown blockquote *,
.docs-markdown blockquote {
  font-size: 0.85rem !important;
}

.docs-markdown blockquote {
  padding: 1rem 1rem 0.6rem !important;
  margin-bottom: 1rem !important;
}
